* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  
}

.body-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #511F50;
}
.body-1-1 {
  width: 45%;
}
.body-1-1 h1{
    color: #511F50;
    margin-bottom: 10px;
}
.remarks {
  width: 50%;
}
.review-1 {
  padding: 10px 20px;
  background: #f7f2f8;
  margin-bottom: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.review-2 {
  margin-left: 20px;
  padding: 10px 20px ;
  background: #f7f2f8;
  margin-bottom: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review-3 {
  margin-left: 40px;
  padding: 10px 24px ;
  background: #f7f2f8;
  margin-bottom: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body {
  padding: 90px 100px;
}
.the-reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.box {
  padding: 25px;
  background: #511F50;
  border-radius: 15px;
  color: white;
  margin: 0px 10px;
  width: 30%;
}
.image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
.image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.boxx {
  padding: 25px;
  background: #511F50;
  border-radius: 15px;
  color: white;
  margin: 10px 10px;
  width:30%;
}

.boxxx {
  padding: 25px;
  background: #511F50;
  border-radius: 15px;
  color: white;
  margin: 20px 10px;
  width: 30%;
}
